{% extends 'email/base_alert.html' %}

{% block title %}New Structure Created{% endblock title %}

{% block alert_title %}
InSPIRES: New structure has been registered
{% endblock alert_title %}

{% block content_wrap %}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            A new <b>Structure</b> has been created in the InSPIRES platform with the
            following details:
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <table>
                <tr>
                    <th>Name:</th>
                    <td>{{ structure.name }}</td>
                </tr>
                <tr>
                    <th>Created on:</th>
                    <td>{{ structure.created_at | date:'Y m d' }}</td>
                </tr>
                <tr>
                    <th>Created by:</th>
                    <td>{{ structure.owner.full_name }}</td>
                </tr>
                <tr>
                    <th>Creator Email:</th>
                    <td>{{ structure.owner.email }}</td>
                </tr>
                <tr>
                    <th>Summary:</th>
                    <td>{{ structure.summary }}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            If you want to take any action you can access your administration panel
            here:
        </td>
    </tr>
    <tr>
        <td class="content-block" align="center">
            <a href="" class="btn-primary">Verify Structure Here</a>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            You have received this mail because you are a registered administrator in
            the platform and can verify that this structure is real.
        </td>
    </tr>
</table>
{% endblock content_wrap %}

{% block footer %}
{% endblock footer %}