{% extends 'email/base_alert.html' %}

{% block title %}Password reset{% endblock title %}

{% block alert_title %}
A request to reset your password has been made
{% endblock alert_title %}

{% block content_wrap %}
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            Hello {{ user.full_name }},
        </td>
    </tr>
    <tr>
        <td class="content-block">
            A password request for your account has been made, you can go ahead and update
            your password using the following button:
        </td>
    </tr>

    <tr>
        <td class="content-block" align="center">
            <a href="{{ cta_link }}" class="btn-primary">Reset your password</a>
        </td>
    </tr>

    <tr>
        <td class="content-block">
            If the button is not working, you may use the following link: <br>
            {{ cta_link }}
        </td>
    </tr>
</table>
{% endblock content_wrap %}