pandas==0.25.3
Django==2.2
djangorestframework>=3.9.1,<4
django-filter>=2.1.0,<3
django-redis==4.10.0
django-cors-headers>=2.4.0,<3
python-decouple>=3.1,<4
psycopg2-binary==2.8.6
requests>=2,<3
romanize3==0.1.14
django-auto-prefetching>=0.1.9,<1
openpyxl>=3.0.7,<4
django-google-mailer==0.3.1
